# Node packages and git.
node_modules
.git

# Commands.
commands/*
!commands/.gitKeep

# Config
public/shared/config.json

# Database.
backend/db/*
backend/db/.gitkeep

# Miscellaneous
INFO.TXT
