body{
    background-color:#051c27;
}
#container {
    background-color: #7787ff;
    min-height: 0.5em;
    padding: 0.5em;
}

#top {
    background-color: #ff7777;
    min-height: 1em;
    padding: 1em;
    position: relative;
}

#top_links {
    background-color: #005c80;
    position: absolute;
    height: 100%;
    padding: 1em;
    top: 0px;
    right: 0px;
    width: 190px;
    text-align: center;
}

.top_links {
    background-color: #e1d928;
    padding: 0.25em;
    border: 1px solid black;
    border-radius: 0.5em;
}

.top_links:hover {
    background-color: #fdff00;
}
#top_status{
    background-color: #005c80;
    position: absolute;
    height: 100%;
    padding: 0.12em;
    top: 0px;
    right: 200px;
    /* width: 150px; */
    line-height: 1.25em;
    color: white;
}
#top_connected_status{border: 1px solid black;width: 1.25em;height: 1.25em; display:inline-block;vertical-align: top;}
#top_connected_status.pinging      { background-color: #2662f7; }
#top_connected_status.connecting   { background-color: #eab700; }
#top_connected_status.connected    { background-color: #16c60c; }
#top_connected_status.disconnecting{ background-color: #d44833; }
#top_connected_status.disconnected { background-color: #383838; }
#top_connected_status_text{width: 100px;/* height: 1.25em; *//* display:inline-block; *//* vertical-align: top; */}

#main {
    background-color: #95ff77;
    min-height: 1em;
    padding: 1em;
}

#main_tabs {
    background-color: #c3f5b5;
    min-height: 1em;
    padding: 1em;
}
#main_views {
    background-color: #97c08c;
    min-height: 1em;
    padding: 1em;
}

#bottom {
    background-color: #35eee6;
    min-height: 1em;
    padding: 1em;
}

#wsClient_count_output{
}
#main_views_left { display:inline-block; vertical-align:top; }
#main_views_right{ display:inline-block; vertical-align:top; }
#main_views_output{
    width: 600px;
    height: 200px;
    font-family: monospace;
    white-space: pre;
}

.nav{
    min-height: 0.5em;
    padding: 0.5em;
    background-color: rgb(255 255 255 / 50%);
}
.nav_tab {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    border-radius: 5px;
    background-color: blanchedalmond;
    cursor:pointer;
}
.nav_tab.active {
    background-color: yellow;
}
.nav_tab:hover {
    background-color: yellow;
}
.nav_tab:active {
    background-color: yellow;
}

.view {
    display: none;
    min-height: 400px;
    padding: 0.5em;
    background-color: rgb(255 255 255 / 30%);
    /* height: 400px; */
}
.view.active {
    display: block;
}

div#commandEditor_sectionGroupDiv {
    background-color: rgb(255 255 255 / 30%);
    border-bottom: 1px solid black;
    min-height: 0.5em;
    padding: 0.5em;
}

.table1{
    border: 1px solid black;
    margin-left: 2em;
    border-collapse: collapse;
}
.table1 tr{
    border-bottom: 1px solid black;
}
.table1 th{
    text-align:left;
    border-right:1px solid black;
}
.table1 th,
.table1 td{
    padding:0.25em
}

table#commandEditor_table {
    border: 1px solid black;
    margin-left: 2em;
    border-collapse: collapse;
}
table#commandEditor_table tr{
    border-bottom: 1px solid black;
}
table#commandEditor_table th{
    text-align:left;
    border-right:1px solid black;
}
table#commandEditor_table th,
table#commandEditor_table td{
    padding:0.25em
}

#top_status2{
    background-color: #005c80;
    position: absolute;
    height: 100%;
    padding: 0.12em;
    top: 0px;
    right: 345px;
    width: 510px;
    /* line-height: 1.25em; */
    padding: 1em;
}
#top_status2_uuid{
    font-family: monospace;
    font-size: 24px;
    /* line-height: 48px; */
    font-weight: bold;
    color: white;
}