* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: floralwhite;
	background-color: #222222;
}

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#mainWrapper {
	width: 1350px;
	padding: 0px;
	margin: 0px;
}

#view_terminals {
	background-color: #005c80;
	border: 2px solid black;
	padding: 2px;
	border-radius: 5px;
}


/* INFO BAR */
#infobar1 {
	height: 26px;
	position: relative;
	border-top: 2px solid #005c80;
}

#infobar1 .infoBarItem {
	border: 1px solid black;
	width: 150px;
	height: 100%;
	display: inline-block;
	border-radius: 5px;
	padding: 2px;
}

#vpn_status {
	background-color: crimson;
	display: none;
}

#vpn_status.active {
	background-color: green;
}

#ws_connections_terms {
	background-color: goldenrod;
}

#ws_connections_infos {
	background-color: goldenrod;
}

/* NAV BAR */
#navbar1 {
	margin-bottom: 2px;
	border-radius: 5px 5px 0px 0px;
}

/* TABS */
/* Style the tab */
.tab {
	overflow: hidden;
	/* border: 1px solid #ccc; */
	/* background-color: #f1f1f1; */
	/* background-color: #222222; */
	/* background-color: #005c80; */
}

/* Style the buttons inside the tab */
.tab button {
	background-color: #aaa;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 5px;
	transition: 0.5s;
	font-size: 16px;
	border: 1px solid black;
	margin: 2px;
	width: 100px;
	border-radius: 3px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #f1f1f1;
}

/* Style the tab content */
.tabcontent {
	display: none;
}

.tabcontent.show {
	display: block;
}

/* VIEWS */
#views {}

/* TERMINALS */
.xterminal {
	display: none;
}

.xterminal.active {
	display: block;
}

#terminals {}

#terminals_tabBar {
	min-height: 2em;
	background-color: rgb(0 92 128);
	color: white;
}

#terminals_tabs {
	width: 1290px;
	padding-bottom: 5px;
	vertical-align: top;
	display: inline-block;
}

#terminals_tabs_sidebar {
	display: inline-block;
	vertical-align: top;
	width: 32px;
	background-color: green;
}

.terminalTab {
	background-color: gray;
	display: inline-block;
	margin: 2px;
	height: 1.25em;
	line-height: 0.75em;
	border-radius: 5px;
	border: 1px solid black;
	vertical-align: top;
	overflow: hidden;
	height: 1.752em;
	font-size: 16px;
	width: 110px;
	position: relative;
	font-style: italic;
	opacity: 0.65;
}

.terminalTab:hover {
	border-style: dashed;
}

.terminalTab .title {
	font-family: monospace;
	display: inline-block;
	vertical-align: top;
	line-height: 200%;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 90%;
}

.terminalTab .close {
	background-color: crimson;
	display: inline-block;
	width: 1.25em;
	vertical-align: top;
	border-radius: 0px;
	border-left: 1px solid black;
	font-family: monospace;
	text-align: center;
	height: 3em;
	line-height: 2em;
	cursor: pointer;
	position: absolute;
	right: 0px;
}

.terminalTab .close:hover {
	opacity: 0.5;
}

.terminalTab.active {
	border-color: goldenrod;
	border-style: solid;
	font-style: normal;
	opacity: 1;
}

.terminalTab.active .title {
	font-weight: bold;
	text-decoration: underline;
}

#terminals_add {
	background-color: goldenrod;
	border: 1px solid black;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 30px;
}

#terminals_cmdsBar {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 300px;
	border: 1px solid black;
	padding-left: 5px;
	text-align: center;
	text-decoration: underline;
	background-color: gainsboro;
	height: 100%;
	line-height: 150%;
	border-radius: 5px;
	overflow: hidden;
}

#terminals_terminals {
	width: 100%;
	height: 560px;
	background-color: #222222;
}

/* COMMANDS */
#commands {
	overflow-y: scroll;
	white-space: normal;
	position: absolute;
	right: 10px;
	bottom: 24px;
	z-index: 100;
	height: 0px;
	width: 500px;
	padding: 0px;
	transition: height 500ms;
}

#commands.show {
	height: 550px;
	transition: height 500ms;
	background-color: black;
	box-shadow: 0px 0px 5px 5px #6e6a6a;
padding: 5px;border-radius: 5px;}

div#commands {}

.command {
	margin: 2px;
	margin-left: 0.5em;
}

.cmd_key_div {
	margin-bottom: 0.25em;
	background-color: #f1f1f1;
	margin-right: 5px;
}

.cmd_key_div .title {
	background-color: rgb(0 92 128);
	color: white;
	padding: 2px;
}

div#view_info {
	background-color: wheat;
}

#commands_tabs {
	min-height: 1em;
	border-bottom: 2px solid #005c80;
	margin: 2px 5px 4px 5px;
	padding-bottom: 3px;
}

#commands_tabs .cmdTab {
	display: inline-block;
	padding: 4px;
	border: 1px solid black;
	border-radius: 3px;
	margin-right: 2px;
	background-color: #aaaaaa;
	cursor: pointer;
	opacity: 0.65;
	transition: 0.5s;
	width: 110px;
}

#commands_tabs .cmdTab:hover {
	border-style: dashed;
}

#commands_tabs .cmdTab.active {
	background-color: #f1f1f1;
	opacity: 1;
}

#commands_views {
	min-height: 1em;
	margin: 2px 0px 0px 5px;
}

#commands_views .cmdView {
	display: none;
}

#commands_views .cmdView.active {
	display: block;
}