@import "main.css";
@import "terminals_view.css";

#mainWrapper {
	width: 1350px;
	padding: 0px;
	margin: 0px;
}

/* INFO BAR */
#infobar1 {
	height: 26px;
	position: relative;
	border-top: 2px solid #005c80;
	margin: 5px;
}

#infobar1 .infoBarItem {
	border: 1px solid black;
	min-width: 110px;
	height: 100%;
	display: inline-block;
	border-radius: 5px;
	padding: 2px;
	vertical-align: top;
	text-align: center;
}

#vpn_status {
	background-color: crimson;
	display: none;
}

#vpn_status.active {
	background-color: green;
}

#ws_connections_terms {
	background-color: goldenrod;
}

#ws_connections_infos {
	background-color: goldenrod;
}

#resizeTerm {
	text-decoration: underline;
	background-color: gainsboro;
	cursor: pointer;
}

#resizeTerm:hover {
	border-style: dashed;
	font-weight: bold;
}

/* NAV BARS */
#cmds_navBar,
#main_navBar {
	min-height: 1em;
	border-bottom: 2px solid #005c80;
	margin: 2px 5px 4px 5px;
	padding-bottom: 3px;
}

/* NAV TABS */
#cmds_navBar .cmds_tablink,
#main_navBar .nav_tablink {
	display: inline-block;
	padding: 4px;
	border: 1px solid black;
	border-radius: 3px;
	margin-right: 2px;
	background-color: #aaaaaa;
	cursor: pointer;
	opacity: 0.65;
	transition: 0.5s;
	width: 110px;
	font-size: 16px;
}

#cmds_navBar .cmds_tablink:hover,
#main_navBar .nav_tablink:hover {
	border-style: dashed;
	font-weight: bold;
}

#cmds_navBar .cmds_tablink.active,
#main_navBar .nav_tablink.active {
	background-color: #f1f1f1;
	opacity: 1;
}

#commands_views .cmds_tabContent,
#views .nav_tabContent {
	display: none;
}

#commands_views .cmds_tabContent.active,
#views .nav_tabContent.show {
	display: block;
}

/* VIEWS */
#views {}

#view_terminals {
	background-color: #005c80;
	/* border: 2px solid black; */
	padding: 2px;
	border-radius: 5px;
	border: 5px solid black;
}

#view_info {
	background-color: wheat;
}