/* TERMINALS */
.xterminal {
	display: none;
}

.xterminal.active {
	display: block;
}

#terminals {}

#terminals_tabBar {
	background-color: rgb(0 92 128);
	color: white;
	margin: 5px;
	white-space: nowrap;
}

#terminals_tabs {
	vertical-align: top;
	display: inline-block;
	white-space: normal;
	position: relative;
	margin-right: 30px;
}

#terminals_tabs_sidebar {
	display: inline-block;
	width: 32px;
	background-color: #daa529;
	vertical-align: top;
	position: relative;
	white-space: normal;
}

.terminalTab {
	background-color: gray;
	display: inline-block;
	margin: 2px;
	margin-top: 0px;
	margin-bottom: 4px;
	line-height: 0.75em;
	border-radius: 5px;
	border: 1px solid black;
	vertical-align: top;
	overflow: hidden;
	font-size: 16px;
	width: 110px;
	position: relative;
	font-style: italic;
	opacity: 0.65;
	height: 32px;
}

.terminalTab:hover {
	border-style: dashed;
}

.terminalTab .title {
	font-family: monospace;
	display: inline-block;
	vertical-align: top;
	line-height: 100%;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 90%;
	padding: 5px;
	height: 100%;
}

.terminalTab .close {
	background-color: crimson;
	display: inline-block;
	width: 1.25em;
	vertical-align: top;
	border-radius: 0px;
	border-left: 1px solid black;
	font-family: monospace;
	text-align: center;
	line-height: 100%;
	cursor: pointer;
	position: absolute;
	right: 0px;
	padding: 5px;
	height: 100%;
}

.terminalTab .close:hover {
	opacity: 0.5;
}

#terminals_tabs_sidebar.x_out,
#terminals_add.x_out,
.terminalTab.x_out {
	background-image: url(../img/x_out.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

.terminalTab.active {
	border-color: goldenrod;
	border-style: solid;
	font-style: normal;
	opacity: 1;
}

.terminalTab.active .title {
	font-weight: bold;
	text-decoration: underline;
}

#terminals_add {
	border: 1px solid black;
	text-align: center;
	line-height: 30px;
	font-size: 30px;
	height: 100%;
	vertical-align: top;
	cursor: pointer;
}

#terminals_cmdsBar {
	cursor: pointer;
	position: absolute;
	right: 30px;
	top: 0px;
	width: 300px;
	border: 1px solid black;
	padding-left: 5px;
	text-align: center;
	text-decoration: underline;
	background-color: gainsboro;
	height: 100%;
	line-height: 150%;
	border-radius: 5px;
	overflow: hidden;
}

#terminals_cmdsBar:hover {
	border-style: dashed;
	font-weight: bold;
}

#view_terminals_wrapper {
	padding-bottom: 10px;
	width: 100%;
	height: 100%;
	/* background-color: black; */
	background-color: yellow;
	/* overflow: hidden; */
	position: relative;
}

#terminals_terminals {
	min-height: 560px;
	background-color: #222222;
	border: 5px solid black;
}

/* COMMANDS */
#commands {
	overflow: hidden;
	white-space: normal;
	position: absolute;
	right: 30px;
	bottom: 40px;
	z-index: 100;
	height: 0px;
	width: 520px;
	width: 90%;
	padding: 0px;
	transition: all 250ms;
	box-shadow: 0px 0px 5px 5px #005c80;
	z-index: -1;
}

/* #commands:hover, */
#commands.show {
	height: 550px;
	transition: all 250ms;
	background-color: black;
	/* background-color: rgb(0 92 128 / 75%); */
	background-color: rgb(0 0 0 / 85%);
	box-shadow: 0px 0px 5px 5px #005c80;
	padding: 5px;
	border-radius: 5px;
	z-index: 100;
}

.commandsDiv {
	background-color: #051c27;
	background-color: #005c80;
	border-top-left-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 0px;
	padding: 5px;
	border: 5px solid black;
	display:inline-block;
/* 	min-width:350px; */
}

.command {
	margin: 2px;
	cursor: pointer;
	border: 3px solid black;
	opacity: 0.90;
	min-width: 100px;
	padding: 7px;
	white-space: pre;
	font-family: monospace;
}

.multi_command {
	border-color: cornflowerblue;
}

.command:hover {
	border-style: dotted;
	background-color: #f1f1f1;
	opacity: 1;
}

.cmd_key_div {
	background-color: rgb(5 28 39 / 85%);
	margin-right: 5px;
}

.cmd_key_div2 .title,
.cmd_key_div .title {
	background-color: rgb(0 92 128);
	color: white;
	display: inline-block;
	padding: 5px;
	padding-right: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
/* 	border-bottom-right-radius: 50px; */
	border-bottom-left-radius: 0px;
	border: 5px solid black;
	border-bottom-width: 0px;
	text-decoration: underline;
	position: relative;
	top: 5px;
	vertical-align: top;
}
.cmd_key_div .title {
	min-width:300px;
	border-bottom:5px solid #005c80;
}

#commands_views {
	margin: 2px 0px 0px 5px;
	overflow-y: auto;
	height: 500px;
}




/* INFO */
.infoWrap {
	vertical-align: top;
	display: inline-block;
	border: 1px solid black;
	min-width: 200px;
	background-color: #fff0f5;
}

.infoWrap_title {
	background-color: gold;
	font-weight: bold;
	border-bottom: 1px solid black;
}

.infoWrap_OUTPUT {
	white-space: pre;
	font-family: monospace;
}

.pre_nomargin {
	margin: 0px;
	padding: 0px;
	font-family: monospace;
}

table caption.currentUser {
	background-color: palegoldenrod;
}