div#terms_list {
    /* background-color: #ffefd5; */
    /* height: 2.5em; */
    /* background-color: yellow; */
}

div#terms_windows {
    background-color: #ffefd5;
    /* height: 445px; */
}
div.termTabElem{
    font-family:monospace;
}
div.termTabElem.active{}

div.termViewElem{
    display:none;
}
div.termViewElem.active{
    display: block;
    height: 555px;
}
div.termViewElem.smaller.active{
    display: block;
    height: 490px;
}
div#terms_info{
    display:none;
}
div#terms_info.active{
    display:block;
}

#terminalClose {
	background-color: crimson;
	display: inline-block;
	vertical-align: top;
	border-radius: 0px;
	border: 1px solid black;
	font-family: monospace;
	text-align: center;
	line-height: 2em;
	cursor: pointer;
	/* padding: 5px; */
	font-size: 1em;
	font-weight: bold;
	width: 2em;
	height: 2em;
	max-height: 2em;
	max-width: 2em;
	font-style: italic;
}
#terminalClose:hover {
    opacity: 0.75;
}
#terminalRolodex_btn{
    background-color: #3eb3ff;
    height: 1.6em;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    line-height: 0.8em;
    padding: 5px;
    text-align: center;
    width: 100%;
    cursor:pointer;
}
#terminalRolodex_btn:hover{
    /* background-color: #2b6f9b; */
    /* background-color: #3eb3ff; */
    /* background-color: #3ec4ff; */
	opacity:0.75;
}

button#addTerm {
    height: 2em;
}

button#addMini {
    height: 2em;
}

select#terms_list_select {
    height: 2em;
    width: 200px;
}

#terms_list_table th, #terms_list_table td{
	/* border:1px solid black; */
}

#terms_list_table td:nth-child(1){
    width: 25%;
}
#terms_list_table td:nth-child(2){}
#terms_list_table td:nth-child(3){
    text-align: right;
    width: 30%;
}


/* Command Rolodex */
div#terminalRolodex {
    height: 0em;
    overflow: hidden;
    /* background-color: green; */
}
div#terminalRolodex.active {
    height: unset;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

#terminalRolodex_table1{
    width: 100%;
}
#terminalRolodex_table2{
    width: 100%;
}
#terminalRolodex_section_select{
    width: 100%;
}
#terminalRolodex_group_select{
    width: 100%;
}
#terminalRolodex_command_select{
    width: 100%;
}
#terminalRolodex_command_edit{
    width: 100%;
}
#terminalRolodex_command_send{
    width: 100%;
}
#terminalRolodex_command{
    border: 1px solid black;
    width: 750px;
    height: 1.2em;
    display: inline-block;
    vertical-align: text-bottom;
}