body,html{
	width: 99%;
	min-width:850px;
	height: 99%;
	margin: auto;
	font-family:monospace;
}
* {
	box-sizing: border-box;
	font-family:monospace;
}
a{
	color: blue;
	background-color: rgb(255 255 255 / 15%);
}
select, option{
	font-family:monospace;
	white-space:pre;
}

.todo {
	background-color: rgb(217 255 0 / 50%)
}
.disabled {
	background-image: url(../img/x_out.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgb(0 0 0 / 20%);
	/* cursor: not-allowed; */
	pointer-events: none;
	user-select: none;
}
.termViewElem canvas.disabled {
	background-image: url(../img/x_out2.png);
}
.width100p{
	width:100%;
}
